<form #tref (ngSubmit)="save(tref)">
  <input type="text" name="username" [(ngModel)]="user.username">
  <input type="text" name="password" [(ngModel)]="user.password">
  <input type="checkbox" name="status" [(ngModel)]="user.status">
  <div>
    <label>
      Gender
      <input type="radio" name="gender" value="male" [(ngModel)]="user.gender">
      <input type="radio" name="gender" value="female" [(ngModel)]="user.gender">
    </label>
    <select name="level" [(ngModel)]="user.level" multiple>
      <option value="junior">junior</option>
      <option value="middle">middle</option>
      <option value="senior">senior</option>
    </select>
  </div>
  <button>save</button>
</form>
